


.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }
.backimg
{
	width:inherit;
}

.backimg img
{
	position:absolute;
	margin-top:10%;
	width:inherit;
	z-index:-100;
	opacity:0.3;
}

