<% if user_signed_in? %>
	<p><%= link_to image_tag('course.png',width:'49%'), courses_path %>
           <%= link_to image_tag('contact.jpg',width:'49%'), root_url %>
	 <!--
	 <li><%= link_to 'Camp activities', camp_activities_url %> </li>
	 <li><%= link_to 'Camp workers', camp_workers_url %> </li>
	 -->
	 </p>
<% end %>












































