<% if user_signed_in? %>
	<p><%= link_to image_tag('course.png',width:'50%'), courses_path %>
	 <!--
	 <li><%= link_to 'Camp activities', camp_activities_url %> </li>
	 <li><%= link_to 'Camp workers', camp_workers_url %> </li>
	 -->
	 </p>
<% end %>












































