<% if user_signed_in? %>
	<p><%= link_to 'Courses', courses_path, :class => "btn btn-info" %>
	 <!--
	 <li><%= link_to 'Camp activities', camp_activities_url %> </li>
	 <li><%= link_to 'Camp workers', camp_workers_url %> </li>
	 -->
	 </p>
<% end %>


