<%= form_for @camp_activity do |f|%>
	
	<%= render :partial => 'form' , :locals => {:f => f }%>
	<div class="col-md-12">
	<%= f.submit "Create" %>
	</div>
<% end%>


	<div class="col-md-12">
<%= link_to "Back" , camp_activities_url%>
	</div>
