<%= form_for @camp_worker do |f|%>

<%= render :partial => 'form'  , :locals => {:f => f }%>
<p>	<%= f.submit "Update"%></p>
	

<% end%>


<p><%= link_to "back", camp_workers_path(@camp_worker) %></p>
